~$*.doc*
#~$Report.docx

# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~
*.swp

# Vagrant
.vagrant
*.pub
*.log

# Certificates
*.crt
*.key
*.csr

# Various files
notes.txt
flask-example-project venv instructions .txt
various.docx
.DS_Store
todo.txt