{% extends "flask_user_layout.html" %}
{% block content %}
<h2>Home page</h2>
<!-- <p><a href={{ url_for('home_page') }}>Home page</a> (accessible to anyone)</p> -->
{% if current_user.is_authenticated %}
      {% if current_user.has_roles("Admin") %}
      <p><a href="{{ url_for('forms_page') }}">Application Forms</a></p>
      {% endif %}
<p><a href="{{ url_for('new_form_page') }}">Create new Application Form</a></p>
{% else %}
<p><a href="{{ url_for('user.register') }}">Register</a></p>
<p><a href="{{ url_for('user.login') }}">Sign in</a></p>
{% endif %}
{% endblock %}