{% extends "flask_user_layout.html" %}
{% block main %}
<style>
   #members {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#members td, #members th {
  border: 1px solid #ddd;
  padding: 8px;
}

#members tr:nth-child(even){background-color: #f2f2f2;}

#members tr:hover {background-color: #ddd;}

#members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<table id="members">
         <thead>
            <tr>
               <th>Name</th>
               <th>Beekeeper ID</th>
               <th>City</th>
               <th>Country</th>
               <th>Address</th>
               <th>Production Area</th>
               <th>Beehives</th>
            </tr>
         </thead>
         
         <tbody>
            {% for member in members %}
               <tr>
                  <td>{{ member.name }}</td>
                  <td>{{ member.beekeeper_id }}</td>
                  <td>{{ member.city }}</td>
                  <td>{{ member.country }}</td>
                  <td>{{ member.address }}</td>
                  <td>{{ member.production_area }}</td>
                  <td>{{ member.beehives }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <hr/>
      <h3><a href = "{{ url_for('new_member_page') }}">Add Member</a></h3>
{% endblock %}
