{% extends "flask_user_layout.html" %}
{% block main %}
<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
   <label for="name">Name</label><br>
   <input type="text" name="name" placeholder="Mike" /><br>
   <label for="beekeeper_id">Beekeeper Id</label><br>
   <input type="text" name="beekeeper_id" placeholder="EL 100/999" /><br>
   <label for="city">City</label><br>
   <input type="text" name="city" placeholder="Athens" /><br>
   <label for="country">Country</label><br>
   <input type="text" name="country" placeholder="Greece" /><br>
   <label for="address">address</label><br>
   <input type="text" name="address" placeholder="Spiti moy" /><br>
   <label for="production_area">Production Area</label><br>
   <input type="text" name="production_area" placeholder="Evoia" /><br>
   <label for="beehives">Beehives</label><br>
   <input type="number" min="0" name="beehives" placeholder="5" /><br>
   <label for="image">Image</label><br>
   <input type="file" name="image" /><br>
   <input type="submit" value="Submit" />
</form>
{% endblock %}