{% extends "flask_user_layout.html" %}
{% block main %}
<style>
   #forms {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#forms td, #forms th {
  border: 1px solid #ddd;
  padding: 8px;
}

#forms tr:nth-child(even){background-color: #f2f2f2;}

#forms tr:hover {background-color: #ddd;}

#forms th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<table id="forms">
         <thead>
            <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Beekeeper ID</th>
               <th>City</th>
               <th>Country</th>
               <th>Address</th>
               <th>Production Area</th>
               <th>Beehives</th>
            </tr>
         </thead>
         
         <tbody>
            {% for form in forms %}
               <tr>
                  <td>{{ form.id }}</td>
                  <td>{{ form.name }}</td>
                  <td>{{ form.beekeeper_id }}</td>
                  <td>{{ form.city }}</td>
                  <td>{{ form.country }}</td>
                  <td>{{ form.address }}</td>
                  <td>{{ form.production_area }}</td>
                  <td>{{ form.beehives }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <hr/>
      <form action="{{  request.path }}" method="post">
         <label for="id">Id</label><br>
         <input type="number" name="id" placeholder="1" /><br>
         <input type="submit" value="Delete" />
      </form>
      <h3><a href = "{{ url_for('new_form_page') }}">Create new Application Form</a></h3>
{% endblock %}
